
body {
  background: #FFB246;
  color: #000000;
  font-family: "Montserrat", Montserrat;
}

a {
  color: #ffb246;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #ffb246;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Montserrat;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #ffb246;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #9fc0df;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #ffb246;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 26px 0;
  background: rgba(31, 142, 245, 0.9);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(159, 192, 223, 1);
  padding: 18px 0;
}

#header .logo {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", Montserrat;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 10px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 80px;
}

#foter .footerlogo img{
  max-height: 20px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 16px;
  font-family: "Montserrat", Montserrat;
  font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ffd69c;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: none;
  color: #333333;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ffb246;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #9FC0DF;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ffb246;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(26, 26, 26, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 120vh;
  background: #1f8ef5;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) {
  #intro {
    height: 150vh;
  }
}

#intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#intro .container {
  text-align: end;
}

#be {
  text-align: start;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  
}

#intro h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}



#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

/* About us */
#about {
  padding-top: 2em;
  background: #fff;
} 

.abt p{
   padding-top: 45px;
}

.home-intro {
   display: flex;
   justify-content: space-between;
   padding-left: 1em;
   height: 50%;
}

.home-intro p {
   font-size: 12px;
   text-align: justify;
   width: 45%;
} 

.home-intro p span {
   color: #ffb246;
   font-size: 40px;
   font-weight: 60px;
}

.home-intro video {
  max-width: 50%;
  border: 1px solid #000;
  margin-right: 0.5em;
}


/* Services */

#services {
   background-color: #f9f9f9;
   /*height: 60em;*/
}



.serv img {
  max-width: 100%;
  border: 1px solid #000;
  margin-right: 0.5em;
  height: 15em;
}

.serve p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #cbb26a;
}

.img-thumbnail:hover {
   cursor: pointer;
   opacity: .5;
   margin-top: -0.2em;
   margin-bottom: 0.2em;
}

/* bookings */

#contacts {
   background-color: #edf5f3;
   margin: 0px; 
}

.contact h1 {
   padding-left: 1em;
   padding-bottom: 1em;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 800;
   font-size: 58px;
   line-height: 60px;
   color: #373131;
}

.contact p a:hover {
   color: #FFB246;
}

.contact p {
   color: #fff;
}

.bookings h1 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 100%;
   margin-bottom: 2em;
}

.bookings {
   /* padding-left: 5em; */
   background-color: #fff;
   margin: 0px;
}

.bookings button {
   width: 40%;
   height: 80px;
   margin-left: 2em;
   margin-top: -5em;
   background: #FFB246;
   border-radius: 5px;
   
   border: 0;
}

#cont a{
  font-family: Montserrat ; 
  font-weight: 900;
  font-style: bold;
  font-size: xx-large;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact .text h1 {
  text-align: left;
}
#contact{
  margin-right: 2em;
}

#cont li{
  list-style: none;
  text-align: center;
}

/* Footer */

.foot {
   background-color: #090000;
   color: #FFB246;
   margin: 0px;
}

.jumbo li {
   list-style: none;
   padding-bottom: 1em; 
}

.jumbo li a {
   color: #FFB246;
}

.jumbo li a:hover {
  color: #9fc0df;
} 

.ref a {
   color: #9FC0DF;
}

.ref a:hover {
  color: #ffb246;
}

.foo {
  display: flex;
  justify-content: space-between;
}

#contactz{
  margin-left: -5em;
}

.footer {
   color: rgba(0, 0, 0, 0.47);
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   background: #f9f9f9;
   margin: 0px;
}

@media (max-width:800px) {
  .home-intro p {
    font-size: 10px;
    width: 30%;
 }
  .service h5 {
    font-size: 8px;
    font-weight: 500;
  }

  .service p {
    font-size: 5px;
  }

  .jumbo{
    display: flex;
    flex-direction:column;
    padding-right: 0em;
  }

  .foo {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width:650px) {
  .home-intro p {
    font-size: 10px;
    padding-left: 20px;
  }

  .bookings button {
    font-size: 10px;
  }
}

@media (max-width:500px) {
  .home-intro p {
    font-size: 7px;
    width: 50%;
    padding-left: 10px;
 }

 .home-intro p span {
    font-size: 20px;
  }

 .home-intro video {
   width: 40%;
 }

  .service h5 {
    font-size: 14px;
    font-weight: 500;
  }

  .service p {
    font-size: 12px;
  }
}

@media (max-width:400px) {
  #about h1 {
    font-size: 30px;
  }

  #services h1 {
    font-size: 30px;
  }

  #services h2{
    font-size: 20px;
    padding-left: 1em;
    padding-top: 0em;
 }

  .home-intro p {
    font-size: 7px;
    width: 50%;
    padding-left: 10px;
 }

 .home-intro p span {
    font-size: 20px;
  }

 .home-intro video {
   width: 40%;
 }

  .service h5 {
    font-size: 14px;
    font-weight: 500;
  }

  .service p {
    font-size: 12px;
  }

}
