<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs - Sylfcare</title>

    <meta content="" name="descriptison">
    <meta content="" name="keywords">
  
    <script src="https://kit.fontawesome.com/f54567b5b0.js" crossorigin="anonymous"></script>
  
    <link href="../static/img/Browser(1).png" rel="icon">
    <link href="../static/img/Browser(1).png" rel="apple-touch-icon">
  
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  
  
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">

    <!-- Include your CSS files here -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="top">
    <!--Nav Bar-->
    <header id="header" class="fixed-top header-transparent">
        <div class="container-fluid">
    
          <div class="row justify-content-center">
            <div class="col-xl-11 d-flex align-items-center">
              <a href="index.html" class="logo mr-auto"><img src="../static/img/Color logo - no background.png" alt="Sylfcare logo" class="img-fluid"></a>
    
              <nav class="nav-menu d-none d-lg-block">
                <ul>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="blogs.html">Blogs</a></li>
                  <li><a href="#contactz">Contact</a></li>
                  <li><a href="bookings.html">BOOK NOW</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    </header>

    <!--Carousel-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators"></ol>
              <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active" style="background-image: url(../static/img/blogs/blog.jpg)">
                <div class="carousel-container">
                  <div class="container">
                    <h2 class="animate__animated animate__fadeInDown">blogs</h2>
                  </div>
                </div>
              </div>       
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="blogs">
        <div class="container">
            <div class="blog">
                <!-- blog 1 -->
                <div class="blog-item">
                    <img src="../static/img/blogs/blog1.jpg" class="img-fluid">
                    <br>
                    <br>
                    <h1>Planning For The Future: How To Support Your Child After An Autism Diagnosis</h1>
                    <p>Autism is a chronic neurodevelopmental disorder that typically affects how an individual behaves, communicates, and interacts with other people. Most people with autism are diagnosed during childhood, but because the disorder affects each person differently, some aren’t diagnosed until later in life.</p>
                    <a href="https://www.whatispsychology.biz/planning-for-the-future-how-to-support-your-child-after-an-autism-diagnosis-444" class="btn-book">Continue Reading..</a>
                </div>
                <!-- blog 2 -->
                <div class="blog-item">
                    <img src="../static/img/blogs/blog2.jpg" class="img-fluid">
                    <br>
                    <br>
                    <h1>Self-Care Practices for Maintaining Mental Health and Wellbeing</h1>
                    <p>Millions of Americans suffer from depression, anxiety, and other mental health conditions. And yet, many do not even know about the countless self-care practices for maintaining mental health and wellbeing. We will uncover some of the most effective practices for dealing with these issues. Let’s jump right in</p>   
                    <a href="https://www.whatispsychology.biz/self-care-practices-for-maintaining-mental-health-and-wellbeing-451#more-13502" class="btn-book">Continue Reading..</a>
                </div>
                <!-- blog 3 -->
                <div class="blog-item">
                    <img src="../static/img/blogs/blog3.png" class="img-fluid">
                    <br>
                    <br>
                    <h2>HARMONIZING WELLNESS: MUSIC THERAPY TIPS FOR MENTAL HEALTH</h2>
                    <p>In the symphony of life, mental health often plays a leading role. Like a well-conducted orchestra, maintaining harmony within oneself requires a balance of many elements. Music stands as a universal language, and has the power to soothe the mind, uplift the spirit, and facilitate healing. It is important to explore the therapeutic benefits of…</p>
                    <a href="https://www.activeminds.org/blog/harmonizing-wellness-music-therapy-tips-for-mental-health/" class="btn-book">Continue Reading</a>
                </div>
                <!-- blog 4 -->
                <div class="blog-item">
                    <img src="../static/img/blogs/blog4.png" class="img-fluid">
                    <br>
                    <br>
                    <h2>Let Girls Be Girls: Navigating the Maze of Girls’ Mental Health</h2>
                    <p>There seems to be a pop culture shift happening. The word “girl” has gone from once being used as a schoolyard insult to an everyday compliment with phrases like “That’s so girl,” its own budgeting strategy with “girl math,” an exercise with “hot girl walks,” and even 2023 being marked as the “Year of the...</p>
                    <a href="https://www.activeminds.org/blog/let-girls-be-girls-navigating-the-maze-of-girls-mental-health/" class="btn-book">Continue Reading..</a>
                </div>

            </div>
        </div>
    </section>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Footer (jumbotron) -->
    <div class="jumbotron jumbotron-fluid foot">
        <div class="container">
            <div class="row foo">
                <div class="col jumbo" id="">
                    <img src="../static/img/Black logo - no background.svg" w class="img-thumbnail">
                </div>
                <div class="col jumbo">
                    <ul>
                        <li><a href="#top">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#contactz">Contact</a></li>
                    </ul>
                </div>
                <div class="col jumbo" id="contactz">
                  <ul>
                    <li>Contacts</li>
                    <li><a href="tel:+233205917821">+233 20 591 7821</a></li>
                    <li><a href="tel:+233245980827">+233 24 598 0827</a></li>
                    <li><a href="mailto:sylfcare@gmail.com">sylfcare@gmail.com</a></li>
                  </ul>  
                </div>
                <div class="col text-center">
                    <p>Catch on our social media pages</p>
                    <span class="ref pr-4"><a href=""><i class="fab fa-facebook fa-2x"></i></a></span>
                    <span class="ref pr-4"><a href=""><i class="fab fa-twitter fa-2x"></i></a></span>
                    <span class="ref"><a href=""><i class="fab fa-instagram fa-2x"></i></a></span>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center footer">All Rights Reserved 2024</p>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
    
    <!--js files-->
    <script src="../static/js/main.js"></script>
    
</body>
</html>