<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Your Session - Sylfcare</title>

  <link href="../static/img/Browser(1).png" rel="icon">
  <link href="../static/img/Browser(1).png" rel="apple-touch-icon">
  
  <!-- Include your CSS files here -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- Form for Booking Consultation -->
  <section id="consultation-form">
    <div class="container">
      <h2>You Deserve to be HAPPY!!!</h2>
      <button id="open-consultation-form">Book Now!!!</button>
    </div>
    <div id="consultation-popup" style="display: none;">
      <form  name="bookings" id="bookingForm" netlify>
          <h2>Book Your Session</h2>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" required><br><br>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
          </select><br><br>
          <label for="therapy">Type of Therapy:</label>
          <select id="therapy" name="therapy" required>
              <option value="individual">Individual Therapy</option>
              <option value="teen">Child/Teen Therapy</option>
              <option value="family">Family Therapy</option>
              <option value="couple">Couple Therapy</option>
          </select><br><br>
          <label for="about">Tell us a little about yourself:</label>
          <textarea id="about" name="about" required></textarea><br><br>
          <label for="reason">Why do you choose this type of therapy?</label>
          <textarea id="reason" name="reason" required></textarea><br><br>
          <button type="submit">Submit</button>
      </form>
    </div>
  </section>

  <!-- JS Script -->
  <script src="../static/js/bookings_form.js"></script>
  
</body>
</html>